/* components/PessoaCard/styles.module.css */
.card {
    border: 2px solid black;
    border-radius: 16px;
    padding: 16px;
    width: 240px;
    height: 292px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    font-family: sans-serif;
}
  
.avatarContainer {
    padding: 20px 16px 4px 16px;
}

.top{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.info {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    gap: 4px;
    padding-left: 8px;
    font-size: 0.875rem;
    line-height: 1.2;
    max-width: 224px;
}

.infoText{
  margin: 0;
  padding: 0;
}
  
.viewButton {
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px 92px;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background-color 0.3s;
}
  
.viewButton:hover {
    background-color: #333;
}
  